[2018-07-18 13:15] Loykos opened #1 "Extract media query from the entire bundle"
Hi,

I'd like your plugin! It would be amazing if I could extract from the entire bundles. Es:

[code]

[code]

This configuration will generate `page.js` and `page.css` dist files. I'd like to extract media query from entry and not from components (`a.scss`, `b.scss`). I'd like something like `page.css`, `page-xl.css` and so on.

Thank you for your help.

[2018-07-19 18:56] kthalmann opened #2 "media queries extracted multiple times"
First, props for this plugin!
It's time we use separate files for media queries to prevent unnecessary render blocking.

I'm using the symfony/webpack-encore bundle for an easy webpack configuration.
When I use `yarn run encore dev --watch` to automatically recompile the assets, after the first changes and recompiling I can see that the media queries are extracted multiple times.
If I quit the wat

[2018-07-20 08:09] SassNinja commented on #1
Hi @Loykos,
thanks for your feature request!

So if I understood you correctly you need an option to adjust the target name for the injection. Something to change `[chunk name]-[query]` into `[entry name]-[query]`.

I'm not sure how easy it is to get the entry point of a chunk. I can take a look at the weekend.

But wouldn't it be an option for you to just create `page.scss` for this?
[code]
[code

[2018-07-20 08:16] SassNinja commented on #2
Hi @kthalmann,
thanks for your issue!

You're right, the watch mode is not working correctly. I've just checked this (without webpack-encore) and confirm it.

I'll try to fix this on the weekend.

[2018-07-20 09:16] Loykos commented on #1
Thanks for you for answer. The problem is that if I import `page.scss` inside `page.js` I lost the `splitChunks` features for css. Because webpack consider the result of `page.scss` as a unique module import and doesn't manage @import inside css files.

[2018-07-23 10:31] SassNinja commented on #2
Should be fixed now in the branch `fix/watchmode`

@kthalmann would you please test if it works in your setup as well?

`npm install --save-dev git+https://github.com/SassNinja/media-query-plugin.git#fix/watchmode`

[2018-07-23 12:37] SassNinja commented on #1
After some research I think it's not possible because I would have to know the entry's name within the loader context what is not possible.

The only thing I can offer is a group feature which lets you map certain chunks to a name.
The following will then generate your desired `page-[query]`
[code]

What do you think @Loykos? Would this be an option for you?

[2018-07-23 12:51] Loykos commented on #1
I think it can be a good option. Does it catch also the result from splitChunks option?

[2018-07-24 02:09] kthalmann commented on #2
Unfortunately I still get the same results. The media queries are getting appended to the files after every rerun. No errors during the build.

[2018-07-24 07:43] SassNinja commented on #1
Depends on what you expect. In my tests everything gets extracted into the desired file.

So if you're using splitChunks with a cacheGroup `commons` you'll get a `commons.css` (with common CSS) and a `page-[query].css` (with the extracted CSS incl. common)

You can test it yourself and let me know if this fixes your problem
[code]

[2018-07-24 09:14] SassNinja commented on #2
Would you create a full example setup with encore?
(e.g. via gist or [codesandbox](https://codesandbox.io/))

I'm not able to create a working setup with mini-css-extract-plugin (even without my plugin). So far it seems easier to me to work directly with webpack...

[2018-07-30 08:00] SassNinja commented on #1
@Loykos did you already manage to take a look?

As it looks good to me I'll close this feature request & merge my PR.

[2018-07-31 03:39] kthalmann commented on #2
Sorry for the delay. Actually the problem doesn't seem to be Encore. I did a clean setup without Encore and the problem persists. Here is my setup: https://gist.github.com/kthalmann/2c1cae9ed6939a45bea6f30f02967d59

to use encore with webpack 4 you have to use the master branch at the moment `"@symfony/webpack-encore": "git://github.com/symfony/webpack-encore.git#master"`

hope that helps

[2018-07-31 07:16] SassNinja commented on #2
alright, I'm now able to reproduce it!

If you use only one query in the options (what I did) it doesn't occur. But any further query has got the same problem again.

I'll try to fix this

[2018-07-31 10:32] SassNinja commented on #2
I've worked over the code to have a safe way to remove the CSS from the previous compilation. My tests were all successful – no more duplicate CSS in the extracted files.

Please check and let me know if it works for your setup as well!

[2018-07-31 13:31] kthalmann commented on #2
Yes, good job! Expected results in my setups with and without encore.

[2018-07-31 13:54] #2 closed

[2018-07-31 14:02] SassNinja commented on #2
Glad to hear :)

I've merged the fix now so it's going to be in the next minor release (1.1.0)

[2018-08-08 07:06] #1 closed

[2018-08-14 08:33] Loykos commented on #1
Sorry for my late answer. The "groups" option works but I still list all css components I import for each page. At the moment I try to use this option and I hope new feature to extract media queries from the entries.

Thank you!

[2018-08-15 10:04] SassNinja opened #5 "more meaningful support of html-webpack-plugin"
At the moment this plugins supports html-webpack-plugin by providing the extracted files (e.g. `example-desktop.css`) to it.

But this use case makes the media-query-plugin somehow unnecessary because it doesn't make sense to first extract all media queries and then initially load them anyway.

The only meaningful use case would be to provide the additional files incl. query data so the you get au

[2018-08-15 16:08] SassNinja opened #6 "not working when using style-loader"
When using the plugin together with the style-loader it doesn't work.

There are two problems:
1. an additional, erroneous wrapping apostrophe (causes syntax error)
2. the extracted CSS code get appended (via `ConcatSource()`) – but it must get injected into the existing source code (right after `// module`)

To fix no 2 I've probably to break up the whole source code via regex and then convert it

[2018-08-16 07:04] #6 closed

[2018-08-16 07:30] #5 closed

[2018-09-23 18:12] Garfield550 opened #9 "How does this plugin work with when MiniCssExtractPlugin set "filename: '[name].[chunkhash].css'""
OS: macOS
Node.js: 10.10.0
Webpack.js: 4.17.2

In `webpack.common.js` i set "HtmlWebpackPlugin"
[code]

in `webpack.prod.js` i set "MiniCssExtractPlugin" and "MediaQueryPlugin"
[code]

[code]

When I test `<%= htmlWebpackPlugin.files.css %>` in my template "index.html", the output is:
[code]
but the `<%= htmlWebpackPlugin.files.extracted.css %>` is a blank line.

So how could I change my settings

[2018-09-23 18:45] Garfield550 commented on #9
My template `index.html` is:
[code]

[2018-09-30 19:32] SassNinja commented on #9
@Garfield550 thanks for reporting the issue.

But I'm unable to reproduce it. In my examples folder it works as expected.
What I noticed is your example `index.html` has an error: you're not using `htmlWebpackPlugin.files.extracted.css` for the 2nd loop.
Maybe this solves your problem.

If not please provide a gist or example github repo to repoduce the issue.

[2018-10-01 03:40] Garfield550 commented on #9
@SassNinja I create a [repo](https://github.com/Garfield550/test-media-query-plugin) to reproduce this issue.

If run at `production` mode (`yarn run publish`), can get an ERROR:
[code]

[2018-10-02 09:53] SassNinja commented on #9
@Garfield550 I've find out what's wrong with your code:
you did not specify the `include` option of the plugin!

As a result no media queries get extracted and therefore the template throws an error (`htmlWebpackPlugin.files.extracted.css` is undefined and cannot be used for iteration)

Since this is a problem with your setup and template I can't do anything. The only possibility from my side is m

[2018-10-02 15:44] Garfield550 commented on #9
@SassNinja thanks a lot!

[2018-10-03 14:47] SassNinja commented on #9
@Garfield550 you're welcome!

And if you like my plugin: a github star is appreciated :wink:

[2018-10-03 14:47] #9 closed

[2019-01-16 02:41] davidhouweling opened #10 "Files with same name overrides (and not creating files matching mini-css-extract-plugin)"
I've got an application which has multiple entry points... the application has this structure
[code]

However, when using the plugin, because multiple files have `index` as the `[name]`, it only spits out files as `index-tablet.css` and `index-desktop.css`.

Also, it appears the naming doesn't align with `mini-css-extract-plugin` which uses the entry point name. I'm using fast-sass-loader instead

[2019-01-16 07:44] SassNinja commented on #10
Hi @davidhouweling

thanks for reporting this!

you're right, it should use the entry name for the extracted CSS and not the imported filename – I'll try to fix it as soon as I've some time

[2019-01-16 08:35] davidhouweling commented on #10
I did try and debug it locally today but couldn't work out how to correctly map from the plugin via interpretName and then onward.

[2019-01-16 13:45] SassNinja commented on #10
You mean `interpolateName`, don't you?
(I've no idea what `interpretName` is)

However I know the reason for the issue now:
it's how I determine the filename for the extracted files in my loader.

[code]

This does correctly take the name `index` of the imported `index.scss`. Unfortunately I haven't found a way yet to get the entry name within the loader.
According to @sokra it's not possible: htt

[2019-01-16 17:48] Kshatra opened #11 "One group for all chunks"
I'd like to have an option to extract all media queries into a certain group without specifying a list of chunks for it.
So if i specify in webpack config
[code]
I would receive **app-bundle.css** and **app-bundle-desktop.css** after the build. I think it can be done in **src/postcss.js:26** just by adding a check like:
[code]

Thank you for an awesome plugin!

[2019-01-17 00:05] davidhouweling commented on #10
Yes I did, sorry i was typing my response from my phone rather than my PC. I'll try and do some research on my end looking into mini-css-extract-plugin as well. If i make progress I'll raise a PR.

[2019-01-17 10:34] SassNinja commented on #11
Hi @Kshatra

thanks for your issue!

I understand your use case but I don't like such a magic chunk name to target all chunks.
However I'm thinking about adding regex support what would make the `groups` options much more powerful.

With such an option you'd be able to do the following

[code]

What do you think?

[2019-01-17 17:05] Kshatra commented on #11
Sure, that would be much better, as we will be able to have full controll even in case of many groups.

[2019-01-22 00:50] davidhouweling commented on #10
after digging through mini-extract-css-plugin and reading webpack documentation I believe the implementation is quite different (though it's quite difficult to understand given the amount of internal webpack plugins it uses).

From my rough understanding of it, [mini-extract-css-plugin's loader](https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/loader.js) doesn't actually

[2019-01-23 09:16] SassNinja commented on #10
Many thanks for your research!

yup, I was facing the same problem

I guess I haven't seen it like this yet but you're right, I'm trying to support more than the mini-css-extract plugin although there's hardly any need of media query extraction if using the style-loader (mostly in dev mode).

I decided to use a loader because it saved me work with the sourcemaps. If I do all the work within the pl

[2019-01-23 23:37] davidhouweling commented on #10
Unfortunately I've had to move on to other work as well but if a bit of time opens up for me i'll look to what I can do to help.

What are your thoughts on dropping the loader all together and doing everything through the plugin? Though I guess if you wanted to continue to support source maps you would have to do very similarly to mini-extract-css-plugin with tracking dependencies, and all.

[2019-01-24 07:34] SassNinja commented on #10
In general I'm a friend of getting rid of the loader so that users only need to include one plugin. But maybe a loader will be still necessary similar to mini-css-extract-plugin.

Besides easy-to-use I also want a clean code that's easy to maintain. I'm afraid you're right and have to do all the dependency tracking myself – no idea how much work this will be in the end.

Anyway sourcemaps is sth t

[2019-01-25 02:57] davidhouweling commented on #10
If you're happy to drop `style-loader` support, and given `mini-css-extract-plugin` keeps track of its dependencies and generates the correct source map (I believe), wouldn't it be doable to simply chain on from there? It does make it that the plugin directly relies on min-css-extract-plugin, which I think it does anyway?

[2019-01-28 13:02] SassNinja commented on #10
before writing my own plugin I actually thought abt extending the mini-css-extract-plugin – without success
https://github.com/webpack-contrib/mini-css-extract-plugin/issues/162

I agree my plugin is (more or less) made for using it together with mini-css-extract-plugin but since it's an individual plugin now I'd prefer to keep it as much independent as possible (if this doesn't mean a huge amount

[2019-02-05 14:27] karolisgrinkevicius-home24 opened #12 "Not possible to extract media queries from all css files"
Hi. Thanks for this really handy plugin.

Afaiu currently it's not possible to extract media queries from all the files in the project, i.e. main bundle which is for instance `myapp.css`. It would be really nice if I ignore `include` option all the css files are gathered. Is it possible with current implementation of this plugin? `mike-diamond/media-query-splitting-plugin` does support this yet si

[2019-02-06 15:20] karolisgrinkevicius-home24 commented on #12
Hi @SassNinja and thanks for your response! I already tried to set `include: true` and it partially works in my case but here's another question then: how to bundle all the gathered css into main entry css file avoiding usage of `groups` option? As of now I hardcoded all scss files in `groups` as following:
[code]

Hopefully you figured out what I'm trying to say 😄

[2019-02-06 17:13] SassNinja commented on #12
what is not working? (since you said 'partially')
you wanted to affect the CSS chunks without explicitly naming each chunk and that's exactly what `include: true` does

That's not possible yet because `groups` only supports arrays.
But I'll add regex support to it once I've got some free time. Afterwards you can do the following:

[code]

There's already an issue for it:
https://github.com/SassNin

[2019-02-06 18:05] karolisgrinkevicius-home24 commented on #12
you wanted to affect the CSS chunks without explicitly naming each chunk and that's exactly what `include: true` does

I didn’t mean particularly `include`, it works just well.

But I'll add regex support to it once I've got some free time. Afterwards you can do the following...

That’s what I meant. It’d be awesome to have regex feature on groups. Will eagerly wait for this feature.

[2019-02-06 18:05] #12 closed

[2019-02-08 08:53] karolisgrinkevicius-home24 commented on #11
Hey @SassNinja.

I didn't want to create a new issue for the following question.
Is this possible to merge extracted css into only one bundle? For clarification I have `app-desktop.css`, `app-mobile.css` and `app.css` bundles. Is this possible to merge `app.css` onto both `app-desktop.css` and `app-mobile.css` to avoid making two potential http requests in case of using `mini-css-extract-plugin`?

[2019-02-08 09:28] SassNinja commented on #11
@karolisgrinkevicius-home24 I'm afraid I didn't get it.

You've got an `app.css` and the extracted `app-desktop.css` & `app-mobile.css` – what do you wanna merge? If you mean you wanna all extracted CSS in one `app-extracted.css` you can simply do
[code]

[2019-02-08 09:29] #11 closed

[2019-02-08 09:50] SassNinja commented on #11
I've released the groups option update now.

@Kshatra

The first matching group will be taken.

For sure! Whoever uses regex here should be aware of what he's doing.

[2019-02-17 10:42] jantimon opened #14 "Direct integration with mini-css-extract-plugin"
Hey @SassNinja

it took me way to long to discover this repo.
In many projects we face the problem your plugin is trying to solve.

I had an idea which would probably cause a lot of work but should simplify the configuration and performance of your plugin.

What if the `mini-css-extract-plugin` would introduce a hook here:

https://github.com/webpack-contrib/mini-css-extract-plugin/blob/b653641e79

[2019-02-18 14:04] SassNinja commented on #14
Hi @jantimon

This sounds great!
Actually I've plans to bind my plugin more to the `mini-css-extract-plugin` and abandon support of anything else (such as style loader what doesn't make sense in production).

Would you please describe a bit more in detail what you mean with adding hooks?
(I'm neither familiar with `chunkTemplates.hooks` nor with `mainTemplate.hooks`)
Do you mean sth like this in t

[2019-02-18 16:12] jantimon commented on #14
Yes that's exactly what I had in mind about the `mini-css-extract-plugin`.

I just came across one issue with the media query splitting approach in general.
Take a look at the following example:

[code]

The background would always be `purple` as the specification are equal but `purple` comes last.
If we now in production split it into two files and change the load order it would change the behavi

[2019-02-19 09:46] SassNinja commented on #14
Ok, I need to check the code more in detail to know if/how this can be achieved.
Feel free to submit a PR at the `mini-css-extract-plugin` if already have an idea how to implement those hooks!

If we now in production split it into two files and change the load order it would change the behaviour and suddenly the background would be `blue` for large devices.

We also discussed this in the team whe

[2019-04-11 08:04] wzrdtales opened #15 "htmlWebpackPlugin.files.extracted.css is always empty"
Hey there,

I am figuring out how to use your plugin. But I cannot get it working. It is not extracting anything at all. I finally decided to try to inject the css links manually in the template with a forEach on htmlWebpackPlugin.files.extracted.css. And the surprise, htmlWebpackPlugin.files.extracted.css is not defined at all. I am not exactly sure what is going wrong, so now I finally reach out

[2019-04-11 08:27] wzrdtales commented on #15
Ok I found out that, if there is no matches to the queries, extraced is empty. And it is empty since these are only direct matches and css nano alters the actual query.

[2019-04-11 09:30] SassNinja commented on #15
Hi @wzrdtales

it's hard to say regarding your large webpack config with many plugins.
My usual workflow is to comment out most parts and then bring it back one after the other to find the responsible one.

Yup, only what matches the queries gets extracted from the original CSS.
You think cssnano is responsible? If so a minimum config is appreciated.

[2019-04-11 15:52] wzrdtales commented on #15
I have it running by now. `cssnano` is "responsible" or better said it is due to the fact, that the queries are checked as a hard string and not in the matter of equality of parsed result.

Using a string like this instead:

        'only screen and (max-width:767px)': 'mobile'

Where only the one space is the thing being minified is the solution to the trouble.

[2019-04-11 16:18] SassNinja commented on #15
Makes sense, if `cssnano` removes that space the query doesn't match anymore of course.

Glad to hear you've been able to solve the problem :)

[2019-04-11 16:18] #15 closed

[2019-04-15 19:27] hotsanchous opened #16 "include parameter not work with RegExp"
Hi.

I have **nodejs v11.12.0**, **npm 6.9.0** and **webpack v4.29.6**
When i set RegExp to parameter **include**, i see an errors.

I watch src of Loader, and find this code
`// check if current file should be affected
if (typeof options.include === 'object' && options.include.indexOf(options.basename) > -1) {
     isIncluded = true;
    } else if (options.include instanceof RegExp && options.bas

[2019-04-24 08:19] SassNinja commented on #16
Hi @hotsanchous

thanks for your report!

You're right that's definitely a bug.
The condition doesn't consider RegExp has also typeof object. I'll fix it.

[2019-04-24 12:26] #16 closed

[2019-07-05 14:28] demianrenzulli opened #17 "File-loader and screen resizing questions"
Hi,

I've been trying this plugin, and have the following questions:

**1. Using MediaQueryPlugin with file-loader:**

I'm using [file-loader](https://github.com/webpack-contrib/file-loader) to resolve references to images in my CSS files, so that they can be emitted to the output directory after Webpack runs.
Before using media query plugin, Webpack would recognize the references to images inside

[2019-07-09 14:37] SassNinja commented on #17
Hi @demianrenzulli

thanks for your issue!

1) file loader

I have to check this myself... thinking about [url loader](https://github.com/webpack-contrib/url-loader) as a solution but needs to be tested

2) viewport specific loading

If you wanna load dynamically the extracted CSS once the viewport has changed you can add an event listener. Here's a quick example (probably needs some polishing but

[2019-07-25 13:57] robhalkema-pbx opened #18 "'css-loader' options not being applied to extracted media query files"
Hi,

I am trying to incorporate the `media-query-plugin` into our Webpack build but it is not working  as expected, and I'm wondering if there something obvious that I am doing wrong or missing, or if it's a bug?

The problem is with  `css-loader` options not being applied to media query files. Specifically I use the `modules` option and set `localIdentname` in `css-loader`. This works correctly f

[2019-08-08 08:13] SassNinja commented on #17
The file-loaader problem is definitely a bug.
I've found out now loaders get applied to the media chunks. Not sure how easily this can be fixed... needs more research.

I'll postpone this to 2.0.0

[2019-08-08 08:16] SassNinja commented on #18
Hi @robhalkema-pbx

this seems to be related to https://github.com/SassNinja/media-query-plugin/issues/17

The problem is no loaders get applied to the generated media chunks.
I've to do some research to find a solution for this.

[2019-08-08 12:06] demianrenzulli commented on #17
Thanks for confirming!

[2019-08-09 15:04] robhalkema-pbx commented on #18
Hi @SassNinja, thanks for the update and for confirming that this is a bug.

As an aside, I also looked at https://github.com/mike-diamond/media-query-splitting-plugin which splits and generates the media query files after the loader has been applied. I needed to rework it a bit, as the configuration doesn't suit a mobile first approach, but it may be a way around the loader issue. I did encounter

[2019-08-15 07:49] joe223 opened #19 "Perhaps dynamic import is useless when we have media query?"
In this example `example/webpack`，we use
[code]
to import an example-desktop file dynamically.

But in the result file，media-query code ：
[code]
 can do this already.

So，Is `examples/webpack/src/example-desktop.scss` file and javascript dynamic import necessary?

[2019-08-22 15:10] joe223 commented on #19
Oh, I have forgot that this demo inject assets manually，
https://github.com/SassNinja/media-query-plugin/blob/13012c0bc18568bdc8453c6afd92c3e2370a4e28/examples/webpack/src/index.hbs#L5
But I did not figure out where is `htmlWebpackPlugin` come from?

[2019-08-22 17:32] joe223 commented on #19
https://github.com/jantimon/html-webpack-plugin/blob/35a154186501fba3ecddb819b6f632556d37a58f/index.js#L62
I got，userOption will overwrite templateParams 😂

[2019-08-23 02:26] joe223 commented on #19
From htmlWebpackPlugin assets info：
[code]
We have no idea of `*-desktop.css`'s entry，It will cause extra resource loading in multiple entry.
Maybe we can add some additional info to indicate or loading assets automatically?

[2019-10-05 16:02] Josecc commented on #19
I had the same thought @joe223 but it looks like all browsers _download_ all stylesheets regardless of whether they match the media property, and will only _apply_ them when it matches. eg: https://scottjehl.github.io/CSS-Download-Tests/

[2019-10-07 12:27] joe223 commented on #19
Yes, it is. 😂

[2019-10-30 22:46] dNitro opened #20 "Using Regular Expression for group matching throws ERROR"
When using with the following config:
[code]
modules that doesn't get matched with group RegExp throws TypeError:
[code]
Seems `typeof group === 'object'` guard on [line 29 of `src/postcss.js`](https://github.com/SassNinja/media-query-plugin/blob/13012c0bc18568bdc8453c6afd92c3e2370a4e28/src/postcss.js#L29) should be more stricter and check if group is array. Regexps are object and when their names

[2019-10-30 23:03] dNitro opened #21 "Dynamic Import and Long Term Caching"
In part 3 of README you've described how to use extracted files through dynamic import but what if the name of extracted files includes a hash ( i.e. `[name].[contenthash].css` generated through MiniCssExtractPlugin then Splitted using MediaQueryPlugin ) ? Is it possible to dynamic import generated files that have a hash in them via this plugin?

[2020-01-22 20:43] w3debugger commented on #10
trying to figure out '[name]-desktop.css' but don't know how to 🤦🏻‍♂️can you please help?

[code]

Thanks

[2020-02-21 00:51] ZebraFlesh commented on #10
I'm seeing a similar issue when using the following patterns in min-css-extract-plugin:
[code]

This results in only 2 files, even though I have 3 distinct queries defined in this plugin:
[code]

There are a few issues:
1. I expect the second file to be named something like `index-desktop.12345678.css` (that is, `[contenthash:8]` gets properly replaced.
2. There should be 4 files, right? 1 base an

[2020-04-30 04:23] in-in opened #22 "Extracted files are not available in html-webpack-plugin"
I'm trying to access `htmlWebpackPlugin.files.extracted.css`, but I get a error
[code]

It started after I updated the `html-webpack-plugin` `3.2.0` -> `4.2.1`

[code]

[2020-05-16 11:23] felixfbecker commented on #19
I'd really like to use the plugin without having to create empty dummy files and dynamic imports, I just want `MiniCssExtractPlugin` to output 2 files, one for `(prefers-color-scheme: light)` and one for `(prefers-color-scheme: dark)`. I'd much prefer to load these through a `<link>` tag, because doing it with a dynamic import means the JS bundle has to load and execute first.

[2020-06-04 14:36] rpb138 opened #24 "media-query-plugin vs. postcss-combine-media-query"
Hi,

Could you explain the difference between **media-query-plugin** and **postcss-combine-media-query**, please?

Thanks so much.

[2020-06-06 07:12] yashiel commented on #22
same issue for me. can't figure out how to solve it.

[2020-06-08 13:28] SassNinja commented on #24
Hi @rpb138

`media-query-plugin` is a webpack plugin which extracts media query rules from your CSS file(s) and places them in other files so you're able to load them on demand (e.g. only on desktop)

`postcss-combine-media-query` is a PostCSS plugin meaning you can use with any build tool (it's not limited to webpack) to combine equal media query rules.

So the former is about extraction (multipl

[2020-06-08 15:16] SassNinja commented on #19
Hi everyone,

sorry for the late response

I've noticed my webpack example was erroneous and as a result all stylesheets got downloaded without respecting the current viewport.
Therefore I've worked over the example to demonstrate a reasonable case (`example-desktop.css` doesn't get downloaded on mobile viewport anymore now)
https://github.com/SassNinja/media-query-plugin/tree/master/examples/webp

[2020-06-08 17:31] SassNinja commented on #21
Hi @dNitro

Yes, that's why you've to create an empty SCSS file that get's populated with the extracted CSS.
Since your dynamic import is part of the bundle it knows the hash.

Check the example folder to see how to use it
https://github.com/SassNinja/media-query-plugin/tree/master/examples/webpack

[2020-06-09 10:55] felixfbecker commented on #19
I wonder how the chunks plugin does it, since it also at a high level splits one input file into multiple? Could the same approach be used?

If you don't use them there's no way to prevent your users from unnecessary CSS files. As mentioned above the media attribute doesn't prevent the download.

In my use case downloading the extra stylesheet is generally not a concern, because the other styleshe

[2020-06-15 10:24] mintymatt opened #25 "Webpack outputs media files that increase in size every iteration"
Heya!

Really useful package, has vastly improved performance on our websites with a little PHP magic ❤

I am running into an issue where the output files for the media queries increase in size every time Webpack Watch is triggered. The first pass done by Webpack works, but then further passes done with watching appear to append to the output files (even though the output filenames change).

Is th

[2020-06-16 15:44] iamschulz opened #26 "Extracting css without a media query"
Hi! Thank you for building this awesome package :)

Is there a way to extract the leftover css without media queries, additionally to the media-query chunks?
[code]
That would give me the latter rule as `style-lg.css`, but I still want to include `style.css` with the former rule only. The MiniCssExtractPlugin only gives the complete css and the media-query-chunks back.

Here's my config:
[code]

[2020-06-29 18:13] babielfe commented on #26
I'm facing the exact same issue. Judging by the readme, this seems to be a bug:

@SassNinja can we get a quick info about whether this is intended or not? :)

[2020-07-15 10:31] erichstark commented on #26
@babielfe did you find solution?

[2020-07-20 11:24] babielfe commented on #26
@erichstark Sadly, I haven't been able to further work on it. :/ Still hoping for a reply from @SassNinja.

[2020-09-07 14:42] elambro commented on #26
I wrote a new package for this - Extract CSS Media Queries
and a Laravel Mix extension - Laravel Mix Extract Media Queries

I hope they can help some of you. @babielfe , @erichstark - My first webpack plugin and my first published npm package!

[2020-09-07 15:57] erichstark commented on #26
@elambro thanks, I will look into it. Do you plan to add grouping for similair breakpoints to create only one file?

for example something like:

name: mobile,
breakpoints: [(min-width: 567px), (min-width: 567px) and (max-width: 767px)]

This could include all statements into one file xx-mobile.

[2020-09-07 16:18] elambro commented on #26
@erichstark It targets mobile first CSS, so you can separate out the desktop style that mobile users don't have to download.

`const options = {breakpoints:[567,767]}`

Will give you 3 files:
-  `style.css`       - Common style, with all media queries `@media (min-width: 567px)` and higher extracted out.
- `style-767.css`  - Only media queries `@media(min-width: 767px)` and above. e.g. `@media(min

[2020-09-08 08:10] erichstark commented on #26
@elambro that looks reasonable. I give it definitely a try! Btw I found this article about multiple media queries and all of them are downloaded anyway to the user :/
https://blog.tomayac.com/2018/11/08/why-browsers-download-stylesheets-with-non-matching-media-queries-180513/

[2020-09-08 08:21] elambro commented on #26
I know, but they have low priority which will speed up the page load. The extracted stylesheet(s) can also be loaded with js after getting the page width.

[2020-09-08 08:32] erichstark commented on #26
Of course it can be loaded with JS, but then you get visible reflow of UI.

[2020-09-09 08:10] SassNinja commented on #26
Hi everyone,

sorry for the long time I didn't respond – I had to take care of many private things

Is there a way to extract the leftover css without media queries, additionally to the media-query chunks?

I'm afraid I don't understand your question.
Is the following your expected output?

[code]

@babielfe same question to you:
would the above code meet your expectation?

Do you plan to add grou

[2020-09-09 09:08] SassNinja commented on #25
@mintymatt thanks for using my plugin

I've tried to reproduce your reported bug but without success: watch mode is working fine and doesn't cause duplicate extraction code

As I can see you building the queries config dynamically (using tailwind config)
Would you share an example output of that?

Apart from that a example CSS file would be helpful.

[2020-09-09 09:45] SassNinja commented on #19
Could this maybe be an option of the plugin, to support this approach for folks whose constraints match this?

I know it's been a while ago but would you describe that desired option in detail?

Apart from creating extracted chunks for dynamic imports (what you said is not relevant for you) the plugin already supports what you need.

[2020-09-09 09:47] #21 closed

[2020-09-09 10:42] #24 closed

[2020-09-09 11:19] SassNinja commented on #20
Good catch!

Seems I totally lost track of this.
It's going to be fixed in release 1.3.2

[2020-09-09 11:20] #20 closed

[2020-09-09 11:57] SassNinja opened #44 "upgrade dependencies"
There are several dependencies outdated.

Not all of them are relevant for security (and thus covered by dependabot)
Nevertheless they should be upgraded.

[2020-09-10 09:51] SassNinja opened #46 "query match tolerance"
Currently the queries match is very strict what might result in unintended results.
This occurs in particular when using some compiler such as sass.

Example:

[code]

[code]

The expected result would be a `style.css` and a `style-desktop.css` with the extracted CSS.
But that's what you get:

[code]

That's not what you want, is it?
The reason is the query match is very strict and since the sass

[2020-09-10 10:09] SassNinja commented on #26
I've reread this issue and now I'm even less sure what's the problem.

First I thought it might be about this
[code]
should behave identical to
[code]
(added as #46 btw)

However since the example of @iamschulz doesn't use the sass-loader it's apparently not the issue in talk.

Is it about extracting media queries of CSS which is included but doesn't match any defined query in the options?

[code]

[2020-09-10 10:19] #46 closed

[2020-09-10 11:14] #22 closed

[2020-09-10 12:14] #44 closed

[2020-09-10 15:07] mgschoen commented on #26
@SassNinja Jumping in for @iamschulz here, since we are working on the same project.

You are completely right, that is the output we are expecting. However, what we are receiving is:

[code]

Is that the way the plugin is intended to behave? Or did we miss something in our configuration? Thanks for your help!

[2020-09-12 10:42] SassNinja commented on #26
Definitely not!
If this plugin finds a query match it extracts it and doesn't leave it in the original CSS.

I think so or maybe you've revealed an edge case that's not working.
Requires some investigation.
Would you share your package.json so I can better reproduce it?

[2020-09-14 13:13] mgschoen commented on #26
Hi @SassNinja, thanks for you reply! After some investigation on our side, I found the error in our configuration and not in the MediaQueryPlugin. Sorry we bothered you without reason.

What happened: In addition to our [example configuration](https://github.com/SassNinja/media-query-plugin/issues/26#issue-639777649), we also had the [CopyWebpackPlugin](https://webpack.js.org/plugins/copy-webpack-

[2020-09-14 17:55] SassNinja commented on #26
I'm glad you've been able to solve the issue :-)

[2020-09-14 17:55] #26 closed

[2020-09-24 13:26] Reynicke opened #50 "Error when used with Stylelint"
Hi!

I try to create a setup consisting of  `sass`, `stylelint` and `media-query-plugin`, but the combination of `media-query-plugin` and `stylelint-webpack-plugin` produces an error. If I remove one of the 2 plugins everything works fine. But together following error occurs:

[code]

I can avoid this error if I remove certain `MediaQueryPlugin` queries. It works, for example, with a `(min-width:

[2020-10-06 19:09] philo23 commented on #25
I've also seen this issue in a project I'm working on too, took me a while to figure out why my CSS was over 10MB!

I have a suspicion it's to do with the way this plugin and `MiniCssExtractPlugin` interact together, but I don't know enough about the internals of how webpack plugins work to be certain yet.

I'll try and reproduce this issue in a standalone repo that I can share, once I get a chanc

[2020-10-13 06:09] SassNinja commented on #25
@philo23 yes, it'll be really helpful if you provide a repo, [codesandbox](https://codesandbox.io) or something to reproduce the issue

[2020-10-13 10:08] SassNinja commented on #50
Hi @Reynicke

thanks for your issue!

I've been able to reproduce the error though I don't know the reason yet.
Maybe stylelint doesn't like the created chunk with the extracted CSS – required further investigation.

In the meantime:
Does it help when you replace this line
[code]
with this?
[code]

[2020-10-13 12:27] Reynicke commented on #50
Hi @SassNinja

````lintDirtyModulesOnly: true```` helps, but only because Stylelint doesn't do anything then (my guess). If the Webpack watcher is running and I change a file, it crashes.

[2020-11-16 15:50] barcadictni opened #53 "Laravel Mix"
Is it possible to use this plugin with Laravel Mix?

[2020-11-26 16:39] pmorenopina opened #54 "Error with webpack 5"
Hi!!!

When i try to use this plugin with Webpack 5... error... =(

`Error: Compilation.chunks was changed from Array to Set (using Array method 'sort' is not possible)
    at Set.set.<computed> [as sort] (/Users/CODE/node_modules/webpack/lib/util/deprecation.js:117:10)
    at /Users/CODE/node_modules/media-query-plugin/src/plugin.js:165:45
    at /Users/CODE/node_modules/webpack/lib/Compilation.j

[2021-01-22 10:51] SassNinja commented on #54
Hi @pmorenopina

thanks for the issue and sorry for the late response – I've been really busy the past months

I'll try to take care of it the next week (PRs are always welcome 😉)

[2021-01-22 11:00] SassNinja commented on #53
Hi @barcadictni

thanks for your issue

I haven't worked with Laravel Mix yet, however according to [what I read](https://laravel.com/docs/8.x/mix) it seems similar to [Symfony's Encore](https://symfony.com/doc/current/frontend.html) which is working ([example](https://github.com/SassNinja/media-query-plugin/tree/master/examples/webpack_encore))

So theoretically I should work but as usual: try an

[2021-02-03 01:02] jdgrieco commented on #25
Hi @SassNinja

I'm facing similar problem.

Please, see https://gist.github.com/jdgrieco/addca0583b17bf2c98b609ba53c810f5 with sample files

When I run in dev mode (`npm run dev`) every time I modify `_test.scss` the compiled css is appended in `dist/bundle-mobile.css`

The content of `dist/bundle-mobile.css` for first run is:
[code]
When I change border-radius, for example, in `_test.scss`:
[code

[2021-02-12 08:23] Enchiridion commented on #54
@SassNinja I just found this plugin and it does exactly what I want, except for working with Webpack 5.  I'm getting the same error.  I'd buy you a coffee if it'd help get this fixed! Your plugin is the only one that does this correctly.  I tried the other two but couldn't get them to work with Webpack 5 either.  I saw someone submitted, then deleted their pull request for wp5 support, maybe that

[2021-02-15 14:53] #54 closed

[2021-02-15 15:07] SassNinja commented on #54
Webpack 5 is now supported! (v1.5.0)

@Enchiridion thanks for the motivation/offer 😉

[2021-02-17 06:58] Enchiridion commented on #54
@SassNinja Just tested and it's working great! Thanks for updating it!

[2021-02-19 09:05] bluesurfer opened #60 "DeprecationWarning: afterOptimizeChunkAssets is deprecated"
Not sure if it's worth opening an issue for this...

Anyway.. with Webpack 5.23.0 I get this DeprecationWarning:

[code]

[2021-02-24 20:22] maxhartshorn commented on #50
Also seeing this issue when using Stylelint and this plugin

[2021-02-25 15:55] markvella-highlight commented on #50
I've also encountered this issue - I have a very similar setup to @Reynicke in terms of Webpack configuration and packages installed.

[2021-04-23 10:09] blondinekatze commented on #60
The same problem with Webpack 4.46.0

[2021-04-26 18:15] RentecTravis opened #62 "Does not cooperate with `contenthash` in MiniCssExtractPlugin's `filename` option"
Thank you for this project. It's very valuable for user experience and I appreciate that you've filled this gap. I'm surprised this technique isn't more widely sought.

### The issue
In the plain-webpack [example webpack.config.js](https://github.com/SassNinja/media-query-plugin/blob/12b1def71a3699998a3da66b1033d162eafc5b5f/examples/webpack/webpack.config.js#L60), change the `filename` option from

[2021-04-29 07:54] Andreew4x4 commented on #17
Hi,
I'm having the same issue.
Extracted files (media-query once) are not processed by file_loader, and path is not changed (names not hashed etc.)
So +1 from me

[2021-06-01 15:49] vyprichenko commented on #62
@RentecTravis, you could solve this by setting [output.hashDigestLength](https://webpack.js.org/configuration/output/#outputhashdigestlength) globally (if it is acceptable) — according to [the sources](https://github.com/SassNinja/media-query-plugin/blob/12b1def71a3699998a3da66b1033d162eafc5b5f/src/plugin.js#L78), this setting is taken into account. After hash computation, substring "[contenthash]

[2021-06-09 20:19] scofield-ua commented on #60
I received such error.
I had to rollback to v1.4.0.

[code]
- Webpack - v4.46.0
- media-query-plugin - v1.5.0

[2021-06-26 17:25] designcise commented on #62
maybe in the next version you should also consider adding `(content|chunk|full)?hash` ? `fullhash` is not picked up at the moment

[2021-07-14 12:11] rubenmeines commented on #53
Hey @barcadictni , after 2 days of messing around I found something that helped me out. My objective is just to extract media queries to make a heavy style.css a bit lighter. I am no expert in laravel mix or webpack so I can't guarantee you this is the correct way of doing it, but here is the code from my setup:

[code]

   This results in this file for example (which is not ideal):

![Screenshot

[2021-07-14 12:44] rubenmeines commented on #53
I found out how to do it with this package from current owner: https://github.com/SassNinja/postcss-combine-media-query

Just:

1. Install the package from the link above
2. create a file named 'postcss.config.js' in root folder where you have webpack.mix.js
3. Paste this code in postcss.config.js:

[code]

[2021-10-28 07:33] ajayjaggi97 opened #84 "Classnames are not getting dangled."
The extracted files have same classnames as supplied. Ideally they should be hashed.

[2021-10-28 08:44] #84 closed, assigned to nobody

[2021-10-28 08:44] ajayjaggi97 commented on #18
Hey @SassNinja @robhalkema-pbx any updates on this??

[2021-11-02 04:21] Capricair opened #85 "how to remove warning"
[WARNING] media-query-plugin is going to drop webpack 4 support with the next major version so you should consider upgrading asap!

[2021-11-02 17:20] SassNinja commented on #85
Hi @Capricair

you're seeing this warning because you're not using the latest webpack version.
It's a friendly reminder to upgrade so that you won't be affected by a breaking change in future.

So the simple answer to your question "how to remove warning" is: upgrade your webpack 😉
Is there anything blocking you? Sooner or later you'll probably get problems with other loaders/plugins as well.

[2021-11-05 10:38] #85 closed, assigned to nobody

[2021-11-12 14:24] Capricair commented on #85
Sorry, my project use nuxt 2, cannot upgrade to webpack5 at this time, can you give a option to disable it?

[2021-11-27 07:32] Capricair opened #86 "How to use in nuxt"
Hello, my project is using nuxt for server side rendering, I did not find the documentation on how to use in nuxt

[2022-01-19 20:30] ctsenthil opened #88 "plugin doesn't output media related files based on query. Is it because of loaders?"
First of all great plugin which i was looking for to reduce the file size and improve the performance of the website.

I am having issue in generating query related files. Can you help me out what is wrong in the below code'

plugins: [
    new DefinePlugin({
      'process.env.NODE_ENV': JSON.stringify('production'),
      'ENV_PROXY': JSON.stringify(env.proxy),
    }),
    new CopyWebpackPlugin(

[2022-01-20 19:25] SassNinja commented on #88
Hi @ctsenthil

thanks for using my plugin!

However "having issue" doesn't help me much to reproduce your problem.
You've shared a large webpack config but could you specify what exactly is not working?
How do the filenames & the sass code you're sending to webpack look and what output do you expect?

[2022-01-20 19:43] ctsenthil commented on #88
@SassNinja  loaders are not getting applied to the media chunks. filename  are '[name].[contenthash].css', format

[2022-01-20 19:51] SassNinja commented on #86
Hi @Capricair

have you tried to extend the webpack config of nuxt?
https://nuxtjs.org/docs/configuration-glossary/configuration-build/#extend

[2022-01-21 10:18] SassNinja commented on #88
Are you talking about your chunks which contains both, CSS inside of `@media` rules and without?
Or do you mean that no loaders are appled to the chunks which are generated by my plugin?

In case of the latter there's an open bug issue for it https://github.com/SassNinja/media-query-plugin/issues/17

If my plugin doesn't do anything it would be helpful to see a sass code example.

[2022-01-21 14:39] ctsenthil commented on #88
@media rules what ever i added in queries gets removed  from main.df26c7424f7f201fa000.css. but it didn't generate individual file based on the query .

queries: {
          '(min-width: 0px)and (max-width: 479px)': 'mobile',
          '(min-width: 480px)and (max-width: 839px)': 'tablet',
          '(min-width: 1024px)': 'desktop'
      }

i expect to  see main-mobile.df26c7424f7f201fa000.css,main

[2022-01-22 17:28] SassNinja commented on #88
That's weird... if it removes the code from your original sass file, then it should definitely appear somewhere because it doesn't remove any code without being able to save it at the end.

My assumption is that either some plugin in your webpack process removes those files or another loader/plugin interferes with it and overwrites the extracted code. In any case it's hard to debug without having

[2022-01-24 07:11] andershagbard opened #90 "Compile loop when using webpack watch"
I have an issue, where the additional CSS files, keeps compiling when using the watch command, even without change. Everything works as expected in normal compile mode, and in [serve](https://webpack.js.org/configuration/dev-server/) mode.

It is a bit shortened, but should have all relevant plugins etc.

I have the following webpack config:

[code]

[2022-02-06 22:03] govorov-top commented on #88
Indeed, you have such a problem. When inside the media request there is for example "background: url(../img.jpg )", then it is not processed...